<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CDN FOR BULMA CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c502137733.js"></script>
        <!-- TITLE -->
        <title>Employee Summary </title>
    </head>

    <body>
        <!-- HERO -->
        <section class="hero is-link ">
            <div class="hero-body">
              <div class="container ">
                <h1 class="title is-1 has-text-centered">My Team</h1>
              </div>
            </div>
        </section>
        <br>
        <br>
        <!--TEAM SUMMARIES-->
        <div class="columns">
            {{ team }}
        </div>
    </body>
     
</html>